<form [formGroup]="formGroup">
  <div class="filters">
    <app-toggle-group [options]="options" formControlName="status" />
    <div class="filters-row">
      <app-filter-select [options]="locations" label="Location" formControlName="location" />
      <app-filter-select [options]="roles" label="Role" formControlName="role" />
      <app-filter-select [options]="workplaces" label="Workplace" formControlName="workplace" />
    </div>
  </div>
</form>

<app-requestions-table [dataSource]="$requisitionData()!.items" />
