<div class="table-container">
  <table mat-table [dataSource]="$dataSource()" class="mat-elevation-z1">
    <!-- On/Off -->
    <ng-container matColumnDef="onOff">
      <th mat-header-cell *matHeaderCellDef>On / Off</th>
      <td mat-cell *matCellDef="let req">
        <mat-slide-toggle [checked]="req.active"></mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Role -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let req">
        <div class="role">
          <strong>{{ req.role }}</strong>
          <div class="status" [ngClass]="req.statusType">{{ req.status }}</div>
        </div>
      </td>
    </ng-container>

    <!-- Workplace -->
    <ng-container matColumnDef="workplace">
      <th mat-header-cell *matHeaderCellDef>Workplace</th>
      <td mat-cell *matCellDef="let req">
        <div class="workplace">
          <img src="assets/icons/location.svg" alt="Location Icon" />
          <div class="name">{{ req.workplace.name }}</div>
          <div class="location">{{ req.workplace.location }}</div>
        </div>
      </td>
    </ng-container>

    <!-- Shifts -->
    <ng-container matColumnDef="shifts">
      <th mat-header-cell *matHeaderCellDef>Shifts</th>
      <td mat-cell *matCellDef="let req">
        <div class="shifts">
          <img src="assets/icons/shift.svg" alt="Shift Icon" />
          <div class="text">
            <b>{{ req.shifts.active }}</b>
            active
            <small>from {{ req.shifts.available }} available</small>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let req">
        <img src="assets/icons/arrow-right.svg" alt="Arrow Right Icon" />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
