.mat-mdc-cell {
  height: 75px;
}

.mat-column-onOff {
  width: 100px;
}

.mat-column-role {
  width: 200px;
}

.mat-column-actions {
  width: 57px;
}

.mat-column-shifts {
  width: 190px;
}

.cell-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inactive {
  h3,
  p,
  a {
    color: #00000080;
  }
}

a {
  font-size: 16px;
  color: #000000;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 12px;
  color: #00000080;
  margin: 0;
}

.status {
  font-size: 12px;

  &.success {
    color: #4caf50;
  }

  &.warning {
    color: #ff9800 !important;
  }
}

.state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  color: #00000080;
  font-size: 14px;
}
