@use '@angular/material' as mat;

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Roboto, sans-serif',
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($my-theme);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
}

p {
  font-size: 14px;
  line-height: 140%;
}

// Override Angular Material button default spacing
.mat-mdc-button .mdc-button__label {
  display: flex;
  align-items: center;
  gap: 16px;
  color: black;
}
