@use '@angular/material' as mat;

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Roboto, sans-serif',
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($my-theme);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
}

p {
  font-size: 14px;
  line-height: 140%;
}

// Override Angular Material button default styles
.mat-mdc-button .mdc-button__label {
  display: flex;
  align-items: center;
  gap: 16px;
  color: black;
}

// Override Angular Material table default styles
.mat-mdc-table {
  background: transparent !important;

  tbody {
    display: block;
    border-radius: 16px;
    border: 1px solid #0000001a;
    overflow: hidden;
  }

  tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #0000001a;

    &:last-child {
      border-bottom: none;
    }
  }

  .mat-mdc-header-row {
    border: none !important;
  }

  .mat-mdc-header-cell {
    border: none !important;
  }

  .mat-mdc-cell {
    border: none !important;

    &:not(:last-child) {
      border-right: 1px solid #0000001a;
    }
  }

  .mat-mdc-row:last-child .mat-mdc-cell:last-child {
    border-right: none;
  }

  .mat-mdc-row .mat-mdc-cell:not(:last-child) {
    box-shadow: inset -1px 0 0 #0000001a;
  }
}
